html{
    scroll-behavior: smooth;
}
.fundo_azul{
    background-color: #22a1b2;
}

.fundo_rosa{
    background-color: blueviolet;
}

.container{

    width: 80%;
    margin:auto;
   
}

h1{
    text-align: center;
    color: black;
    font-weight: bolder;
}

.img_corpo{
    width: 50%;
}

figure{
    text-align: center;
}

.img_topo{
    width: 50%;
}

p{
   font-size: 1.3em; 
   color:black;
   font-weight: bold;
   text-indent: 50px;
   text-align: justify;
}

.paragrafos_musica > p{
    font-size: 1em;
}
footer p{
    background-color: black;
    color: white;
}