@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
background-image : url(https://lh5.googleusercontent.com/p/AF1QipOM_1fQ-0bW2HWmJaVt9fQgabgBthKAiv_NGPXo=h1440);
background-size: 100%;
background-attachment: fixed;
}
header{
    text-align: center;
    font-size: larger;
    font: arial;

}

.opa{
    margin: 1cm auto; 
    background: rgb(79, 187, 8);
    width: 100%;
    font-style: arial;
    
}

.p{
    font-size: large;
    margin: 1cm auto; 
    background: rgb(88, 221, 88);
    width: 90%;
    font-style: arial;
    
}


.history{
    margin: 1cm auto; 
    background: rgb(43, 226, 119);
    width: 80%;
    
}
figure{
    margin: 1cm auto; 
}
#menu-horizontal ul{
    list-style-type: none;
    padding: 0;
    background-color: rgb(46, 42, 42);
}
#menu-horizontal ul li {
    display: inline;
}
#menu-horizontal ul li a {
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s
}
#menu-horizontal ul li a:hover {
    color: rgb(201, 201, 201);
    background-color: rgb(61, 61, 61);
}
.titulo-historia{
        margin: 1cm auto; 
    background: rgb(79, 187, 8);
    width: 100%;
    font-style: arial;    
}
.historia{
    margin: 1cm auto; 
    background: rgb(43, 226, 119);
    width: 90%;
    font-size: large;
    text-align: center;
}

